[Unit]
Description=Biomass Server
After=network.target

[Service]
ExecStart=/usr/bin/python3.7 /home/pi/biomassSensorPy/flaskapp/testapp.py
Type=simple
WorkingDirectory=/home/pi/biomassSensorPy/flaskapp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
